<div class="flex flex-col items-center space-y-6">
  <div
    class="w-52 h-52 rounded-full bg-gray-200 flex items-center justify-center"
  >
    <% if @employer.avatar.attached? %>
      <%= image_tag @employer.avatar,
      alt: "Foto de Perfil",
      class: "rounded-full object-cover w-full h-full" %>
    <% else %>
      <p>No image</p>
    <% end %>
  </div>

  <div class="text-center">
    <h2 class="text-2xl font-bold text-gray-800"><%= @employer.company_name %></h2>
    <p class="text-blue-800"><%= link_to @employer.site, "https://#{@employer.site}", target: "_blank" %></p>
  </div>

  <div class="w-full text-left my-8 space-y-4">
    <p class="text-gray-600"><strong>Email:</strong>
      <%= @employer.email %></p>
    <p class="text-gray-600"><strong>Tel:</strong>
      <%= @employer.phone %></p>
    <p class="text-gray-600"><strong>Cidade:</strong>
      <%= @employer.location %></p>
  </div>
</div>
