<%= form_with(model: employer, url: dashboard_path(@employer), local: true, class: "space-y-6") do |form| %>

  <div class="flex flex-col">
    <%= form.label :avatar, "Foto de Perfil", class: "text-gray-700 font-bold mb-2" %>
    <%= form.file_field :avatar,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600 cursor-pointer bg-white" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :company_name,
               "Nome da empresa",
               class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :company_name,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :email, "Email", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :email,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :site, "Site", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :site,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :phone, "Telefone", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :phone,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :location, "Localidade", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_area :location,
                   class:
                     "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                   required: true %>
  </div>

  <div class="text-center">
    <%= form.submit "Editar Perfil",
                class:
                  "bg-green-600 hover:bg-green-700 text-white px-6 py-2 mt-8 rounded-md font-bold cursor-pointer" %>
  </div>

<% end %>
