<%= form_with(model: job, class: "contents") do |form| %>
  <% if job.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(job.errors.count, "error") %>
        prohibited this job from being saved:</h2>

      <ul class="list-disc ml-6">
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title,
                    class: [
                      "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                      {
                        "border-gray-400 focus:outline-blue-600":
                          job.errors[:title].none?,
                        "border-red-400 focus:outline-red-600":
                          job.errors[:title].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description,
                  rows: 4,
                  class: [
                    "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                    {
                      "border-gray-400 focus:outline-blue-600":
                        job.errors[:description].none?,
                      "border-red-400 focus:outline-red-600":
                        job.errors[:description].any?,
                    },
                  ] %>
  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location,
                    class: [
                      "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                      {
                        "border-gray-400 focus:outline-blue-600":
                          job.errors[:location].none?,
                        "border-red-400 focus:outline-red-600":
                          job.errors[:location].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :mode %>
    <%= form.text_field :mode,
                    class: [
                      "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                      {
                        "border-gray-400 focus:outline-blue-600":
                          job.errors[:mode].none?,
                        "border-red-400 focus:outline-red-600":
                          job.errors[:mode].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :requirements %>
    <%= form.textarea :requirements,
                  rows: 4,
                  class: [
                    "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                    {
                      "border-gray-400 focus:outline-blue-600":
                        job.errors[:requirements].none?,
                      "border-red-400 focus:outline-red-600":
                        job.errors[:requirements].any?,
                    },
                  ] %>
  </div>

  <div class="my-5">
    <%= form.label :skills %>
    <%= form.textarea :skills,
                  rows: 4,
                  class: [
                    "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                    {
                      "border-gray-400 focus:outline-blue-600":
                        job.errors[:skills].none?,
                      "border-red-400 focus:outline-red-600":
                        job.errors[:skills].any?,
                    },
                  ] %>
  </div>

  <div class="my-5">
    <%= form.label :benefits %>
    <%= form.textarea :benefits,
                  rows: 4,
                  class: [
                    "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                    {
                      "border-gray-400 focus:outline-blue-600":
                        job.errors[:benefits].none?,
                      "border-red-400 focus:outline-red-600":
                        job.errors[:benefits].any?,
                    },
                  ] %>
  </div>

  <div class="my-5">
    <%= form.label :salary %>
    <%= form.text_field :salary,
                    rows: 4,
                    class: [
                      "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                      {
                        "border-gray-400 focus:outline-blue-600":
                          job.errors[:salary].none?,
                        "border-red-400 focus:outline-red-600":
                          job.errors[:salary].any?,
                      },
                    ] %>
  </div>

  <div class="inline">
    <%= form.submit class:
                  "bg-green-600 hover:bg-green-400 text-white font-bold py-2 px-4 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
<% end %>
