<div id="<%= dom_id job %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= job.location %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mode:</strong>
    <%= job.mode %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Requirements:</strong>
    <%= job.requirements %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Skills:</strong>
    <%= job.skills %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Benefits:</strong>
    <%= job.benefits %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= job.salary %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employer:</strong>
    <%= job.employer_id %>
  </div>
</div>
