<div class="container mx-auto min-h-screen flex flex-col items-center">
  <%= render "header",
  first_link: link_to("Meu Perfil", dashboard_path(current_employer)),
  second_link: button_to("Sair", destroy_employer_session_path, method: :delete) %>

  <main class="w-full xl:w-3/4 bg-white shadow-lg rounded-lg p-8 mt-32">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-100 mb-5 text-green-500 text-center font-medium rounded-lg
          inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <aside class="flex flex-col items-end mt-2" data-controller="dropdown">
      <button
        data-action="click->dropdown#toggle"
        aria-label="Menu"
        class="bg-green-500 hover:bg-green-600 text-white p-1 rounded-md"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>

      <section
        data-dropdown-target="menu"
        class="
          absolute flex flex-col hidden gap-4 p-4 mt-12 bg-white rounded-md shadow-lg
        "
      >
        <%= link_to "Editar vaga",
        edit_job_path(@job),
        class:
          "bg-green-500 hover:bg-green-600 p-3 rounded-md text-white font-bold text-md" %>
        <%= button_to "Excluir vaga",
        @job,
        method: :delete,
        class: "bg-red-500 hover:bg-red-600 p-3 rounded-md text-white font-bold text-md" %>
      </section>
    </aside>

    <%= render "job_information", job: @job %>

    <div class="mt-8">
      <%= link_to "Ver candidaturas",
      applyers_job_path,
      class:
        "bg-green-500 px-3 py-3 rounded-md hover:bg-green-600 text-white font-bold text-md" %>
    </div>
  </main>

  <div class="mt-8">
    <%= link_to "Ir para Vagas",
    jobs_path,
    class:
      "text-green-600 hover:bg-green-200  py-3 p-4 rounded-md text-md font-bold" %>
  </div>
</div>
