<%= form_with(model: @job_seeker, url: jobseeker_path(@job_seeker), local: true, class: "space-y-6") do |form| %>

  <div class="flex flex-col">
    <%= form.label :profile_img, "Foto de Perfil", class: "text-gray-700 font-bold mb-2" %>
    <%= form.file_field :profile_img,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600 cursor-pointer bg-white" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :full_name, "Nome Completo", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :full_name,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :email, "Email", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :email,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :phone, "Telefone", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_field :phone,
                    class:
                      "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                    required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :degree, "Escolaridade", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_area :degree,
                   class:
                     "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                   required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :courses,
               "Cursos e Certificações",
               class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_area :courses,
                   class:
                     "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                   required: true %>
  </div>

  <div class="flex flex-col">
    <%= form.label :experiences, "Experiências", class: "text-gray-700 font-bold mb-2" %>
    <%= form.text_area :experiences,
                   class:
                     "px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-600",
                   required: true %>
  </div>

  <div class="text-center">
    <%= form.submit "Editar Perfil",
                class:
                  "bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-md font-bold cursor-pointer" %>
  </div>

<% end %>
