<div class="flex flex-col items-center space-y-6">
  <div
    class="w-52 h-52 rounded-full bg-gray-200 flex items-center justify-center"
  >
    <% if @job_seeker.avatar.attached? %>
      <%= image_tag @job_seeker.avatar,
      alt: "Foto de Perfil",
      class: "rounded-full object-cover w-full h-full" %>
    <% else %>
      <p>No image</p>
    <% end %>
  </div>

  <div class="text-center">
    <h2 class="text-2xl font-bold text-gray-800"><%= @job_seeker.full_name %></h2>
    <p class="text-gray-500"><%= @job_seeker.email %></p>
    <p class="text-gray-500"><%= @job_seeker.phone %></p>
  </div>

  <div class="w-full text-left mt-8 space-y-4">
    <div>
      <h3 class="text-lg font-bold text-gray-700">Formação Acadêmica</h3>
      <p class="text-gray-600 whitespace-pre-wrap"><%= @job_seeker.degree %></p>
    </div>

    <div>
      <h3 class="text-lg font-bold text-gray-700">Cursos</h3>
      <p class="text-gray-600 whitespace-pre-wrap"><%= @job_seeker.courses %></p>
    </div>

    <div>
      <h3 class="text-lg font-bold text-gray-700">Experiências</h3>
      <p class="text-gray-600 whitespace-pre-wrap"><%= @job_seeker.experiences %></p>
    </div>
  </div>
</div>
