<div
  class="
    container flex flex-col mx-auto items-center justify-center min-h-screen py-8
  "
>
  <%= render "header",
  first_link:
    link_to(
      "Minhas Candidaturas",
      jobseeker_candidatures_path(current_job_seeker),
      class:
        "text-green-600 hover:bg-green-200 px-4 py-2 rounded-md text-md font-bold",
    ),
  second_link:
    button_to(
      "Sair",
      destroy_job_seeker_session_path,
      method: :delete,
      class: "text-red-600 hover:bg-red-200 px-4 rounded-md text-md font-bold",
    ) %>

  <div class="w-11/12 xl:w-3/4 bg-white shadow-lg rounded-lg p-8 mt-24">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-100 mb-5 text-green-500 text-center font-medium rounded-lg
          inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <%= render "job_seeker_data" %>

    <div class="mt-6 text-center flex flex-row justify-between">
      <%= link_to "Editar Perfil",
      edit_jobseeker_path,
      class:
        "text-white bg-green-600 hover:bg-green-700 px-6 py-2 rounded-md font-bold" %>
      <%= button_to "Excluir Perfil",
      registration_path(current_job_seeker),
      method: :delete,
      class: "text-white bg-red-600 hover:bg-red-700 px-6 py-2 rounded-md font-bold" %>
    </div>
  </div>
</div>
